<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Destinations" value="Mumbai, Delhi, Bengaluru, Kolkata, Chennai, Ahmedabad, Hyderabad, Pune, Surat, Kanpur, Jaipur, Lucknow, Nagpur, Indore, Patna, Bhopal, Ludhiana, Tirunelveli, Agra, Mumbai, Delhi, Bengaluru, Kolkata, Chennai" />
    <add key="Origins" value="Mumbai, Delhi, Bengaluru, Kolkata, Chennai, Ahmedabad, Hyderabad, Pune, Surat, Kanpur, Jaipur, Lucknow, Nagpur, Indore, Patna, Bhopal, Ludhiana, Tirunelveli, Agra, Vadodara, Gorakhpur, Nashik, Pimpri, Kalyan, Thane, Meerut, Nowrangapur, Faridabad, Ghaziabad, Dombivli, Rajkot, Varanasi, Amritsar, Allahabad, Visakhapatnam, Teni, Jabalpur, Haora, Aurangabad, Shivaji Nagar, Solapur, Srinagar, Chandigarh, Coimbatore, Jodhpur, Madurai, Guwahati, Gwalior, Vijayawada, Mysore, Ranchi, Hubli, Jalandhar, Thiruvananthapuram, Salem, Tiruchirappalli" />
    <add key="NoOfTravelRecordsToGenerate" value="500" />
    <add key="ArgumentId" value="3" />
    <add key="UseLinerRegressionAlgorithm" value="True" />
    <add key ="LinerRegressionAPI" value="https://ussouthcentral.services.azureml.net/workspaces/ce227c6f27064648ad83c97981125a9d/services/8b931c04562a4e6d8ba38a8235e8d84d/execute?api-version=2.0"/>
    <add key ="LinerRegressionKey" value="eO3hRvfxrRZdYy8PvaTufFAQBPf3ipSu+QZr1a/IM5F5WYGyUftRBws6WoQ3y8TgMAPtZPLlvXKflb0AGePycw=="/>
    <add key ="BoostedDecisionTreeRegressionAPI" value="https://ussouthcentral.services.azureml.net/workspaces/ce227c6f27064648ad83c97981125a9d/services/7e4766faff6c408882020544a25cd7e2/execute?api-version=2.0"/>
    <add key ="BoostedDecisionTreeRegressionKey" value="HDPhr8awTKqENg091NficxualFwzKYkx8uIxU+4GCZGrjdaGxkU8u8PsJRH8bSpSxr1TknixAdtYD9v2V1RmwQ=="/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>